<form>
  <div class="form-group col-md-4">
    <label for="inputIdPurchase">Purchase Reference</label>
    <input class="form-control mr-sm-2 col-10" type="number" aria-label="Search" id="inputIdPurchase" [(ngModel)]="document" name="document">
    <label>{{message}}</label>
  </div> 
</form>

<form >
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputRefProduct">Product Reference</label>
      <input type="number" class="form-control" id="inputRefProduct" [(ngModel)]="id" name="id">
    </div>
    <div class="form-group col-md-2">
      <label for="inputName">Product name</label>
      <input type="text" class="form-control" id="inputName" [(ngModel)]="name" name="name">
    </div>
    <div class="form-group col-md-2">
      <label for="inputDetail">Detail</label>
      <input type="text" class="form-control" id="inputDetail" [(ngModel)]="detail" name="detail"> 
    </div>
    <div class="form-group col-md-2">
      <label for="inputQuantity">Quantity</label>
      <input type="number" class="form-control" id="inputQuantity" [(ngModel)]="quantity" name="quantity" (change)="calculateCost()">
    </div>
    <div class="form-group col-md-2">
      <label for="inputCost">Cost/Unit</label>
      <input type="number" class="form-control" id="inputCost" [(ngModel)]="cost" name="cost" disabled>
    </div>
    <div class="form-group col-md-2">
      <label for="inputTotal">Total</label>
      <input type="number" class="form-control" id="inputTotal" [(ngModel)]="total" name="total" (change)="calculateCost()">
    </div>
  </div>
  <div class="form-group col-md-2">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="addProduct()">Add</button>  
  </div>  
</form> 