<div class="form-row">
  <div class="card col-12">    
    <div class="card-header text-center"><strong>Kardex</strong></div>    
  </div>
</div>

<table class="table">
    <thead>
      <tr> 
        <th scope="col">Product Reference</th>
        <th scope="col">Product Name </th>
        <th scope="col">Quantity</th>
        <th scope="col">Cost/Unit</th>
        <th scope="col">Total Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of products">
        <td>{{stock.id}}</td>
        <td>{{stock.name}}</td>
        <td>{{stock.quantity}}</td>
        <td>{{stock.cost}}</td>
        <td>{{stock.total}}</td>
      </tr>
    </tbody>
</table>